---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto Sans";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Serif", "Times New Roman", Times;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.logo {
    max-height: 5rem;
}

footer {
    background-position-x: 50%;
}